body{
    /* border:1px brown solid; */
    border-radius: 10px;
    padding: 20px;
    /* background-color: aliceblue; */
    background-color: #f1f9ff;
}
h1{
    border:5px rgb(100,120,160) solid;
    border-radius: 10px;
    padding:5px;
    text-align:center;
    margin:10px;    
}
.movies-area-box{
    display: flex;
    flex-direction: column;
    row-gap:10px;
    border:5px rgb(100,120,160) solid;
    border-radius: 10px;
    padding: 50px;
    text-align: center;
}